{% load static %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/sidebar_navbar.css' %}" rel="stylesheet">
	<link href="{% static 'css/buttons_images.css' %}" rel="stylesheet">
	<link href="{% static 'css/scroll_divs.css' %}" rel="stylesheet">
	{% block style_extra %}
	{% endblock %}
</head>

<body class="grey lighten-3" >

{% include 'parts/response-modal.html' %}
{% include 'parts/confirm_delete.html' %}

{% include 'side-bar.html' %}
<div class="wrapper">
    <div id="content">
	{% include 'nav-bar.html' %}
	{% block content %}
	{% endblock %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/addons/datatables.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        /***
        Scipt for toggle sidebar
        ***/
		 $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        /***
        Scipt to show django messages
        ***/
        {% if messages %}
            $("#add-response").modal('show');
        {% endif %}
        /***
        Scipt for confirm delete
        ***/
        $(".delete-ingredient").on('click', function (e) {
            e.preventDefault();
            const url = $(this).attr("href");
            const deleteForm = $("#object_delete_form");
            deleteForm.attr("action", url);
            deleteForm.find("#object_delete_name", $(this).attr("id"));
            const modal = $("#delete-modal").modal('show');
        });
        $(".delete-recipe").on('click', function (e) {
            e.preventDefault();
            const url = $(this).attr("href");
            const deleteForm = $("#object_delete_form");
            deleteForm.attr("action", url);
            deleteForm.find("#object_delete_name", $(this).attr("id"));
            const modal = $("#delete-modal").modal('show');
        });

        /***
        Scipt to display image preview when adding an image in a form
        ***/
        
        $('#image').click(function(){
            $('#myfile').click();
        });
        $('#myfile').change(function(){
            readURL(this);
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                $('#element_image').attr('src', e.target.result);
                }
                
                reader.readAsDataURL(input.files[0]);
            }
        }
        /***
        Scipt to display modal to add or edit recipe's ingredients
        ***/
        $(".add-ingredient").on('click', function (e) {
                e.preventDefault();
                const count = parseInt($(this).attr("id"));
                const url = $(this).attr("href");
                const addForm = $("#add-ingredient-form-" + count);
                addForm.attr("action", url);
                $("#add-ingredient-" + count).modal('show');
            })
        $(".edit-ingredient").on('click', function (e) {
                e.preventDefault();
                const count = parseInt($(this).attr("id"));
                const url = $(this).attr("href");
                const addForm = $("#edit-ingredient-form-" + count);
                addForm.attr("action", url);
                $("#edit-ingredient-" + count).modal('show');
            })
        /***
        Scipt to display ingredients in a datatable
        ***/
        $('#ingredients_table').DataTable();
        /***
        Scipt that check ingredient or recipe doesnt exist yet while creating it       
        ***/
        $('#ingredient_number').keyup(function(){
            var number = $(this).val();
            $.ajax({
                url: '{% url "check_ingredient_by_number" %}',
                data: {
                    'number': number
                    },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $('#ingredient_number').after('<p style="color:red;">An ingredient with this article number already exists.</p>');
                        }
                    }
            });
        });
        $('#ingredient_name').keyup(function(){
            var name = $(this).val();
            $.ajax({
                url: '{% url "check_ingredient_by_name" %}',
                data: {
                    'name': name
                    },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $('#ingredient_name').after('<p style="color:red;font-size:12px;">An ingredient with this name already exists.</p>');
                        }
                    }
            });
        });
        $('#recipe_name').keyup(function(){
            var name = $(this).val();
            $.ajax({
                url: '{% url "check_recipe_by_name" %}',
                data: {
                    'name': name
                    },
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        $('#recipe_name').after('<p style="color:red;font-size:12px;">A recipe with this name already exists.</p>');
                        }
                    }
            });
        });
    })
    ;
</script> 
{% block js_extra %}
{% endblock %}
</body>

</html>
