{% load static %}
{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/recipe_manager.css' %}" rel="stylesheet">


	{% block style_extra %}
	{% endblock %}
</head>

<body class="grey lighten-3" >

{% include 'parts/response-modal.html' %}
{% include 'parts/confirm_delete.html' %}

{% include 'side-bar.html' %}
<div class="wrapper">
    <div id="content">
	{% include 'nav-bar.html' %}
	{% block content %}
	{% endblock %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/addons/datatables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/recipe_manager.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        /***
        Scipt to show django messages if there is any
        ***/
        {% if messages %}
            $("#add-response").modal('show');
        {% endif %}

    })
    ;
</script> 
{% block js_extra %}
{% endblock %}
</body>

</html>
