
<div class="modal fade" id="add-ingredient-{{ recipe.id }}" tabindex="-1" role="dialog"
     aria-labelledby="addModal"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">

        <form action="" id='add-ingredient-form-{{ recipe.id }}' method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">
						Add ingredient to recipe
					</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			</div>
            <div class="modal-body message">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="category">Ingredient</label>
                        <select class="form-control" id="ingredient" name="ingredient" >
                            <option disabled value="">Please select one</option>
                             {% for ing in not_already_existing_ingredients %}
                            <option value='{{ing.id}}'>{{ing.name}}</option>
                             {% endfor %}
                        </select>              
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="ingredient_amount">Amount</label>
                        <input type="text" class="form-control" id="anmount" placeholder="0.00" name="amount" required="required" >
                    </div>
                </div>
            </div>
			<div class="modal-footer">
                <div class="form-row">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-success" value="EDIT">Add</button>
                </div>
			</div>
        </form>

		</div>
	</div>
</div>

